hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.login {
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Open Sans;
  size: 10px;
}

.login:hover {
  background-color: #2b2b2b;
  cursor: pointer;
}